# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.env

# Databricks / Spark
.databricks/
spark-warehouse/
metastore_db/
*.db

# dbt
dbt_packages/
target/
profiles.yml

# IDE
.vscode/
.idea/

# Bicep / Azure
*.tfstate
*.tfstate.*
.azure/